# --- 核心框架 ---
nonebot2>=2.2.0
nonebot-adapter-onebot>=2.4.0
pydantic>=2.0.0
python-dotenv
asyncio

# --- AI 与 大模型  ---
torch>=2.4.0
transformers>=4.40.0
sentence-transformers>=3.0.0
langchain>=0.1.0
langgraph>=0.0.30
langchain-openai
langchain-community

# --- 存储与数据库 ---
redis>=5.0.0
chromadb>=0.5.0
motor>=3.3.0
pymysql
cryptography

# --- 工具类 ---
loguru
tiktoken
numpy>=1.24.0